.cartitems {
    margin: 50px 176px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 45px;
    padding: 10px 0px;
    color: #454545;
    font-size: 17px;
    font-weight: 600;
}

.cartitems-format-main .remove{
    margin-left: 30px;
}
.cartitems-format {
    font-size: 13px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 7px 0px;
    color: #454545;    
}

.carticon-product-icon {
    height: 70px;
}

.cartitems-remove-icon {
    width: 10px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 44px;
    height: 40px;
    border: 2px solid #ebebeb;
    background: white;
}

.cartitems-down {
    display: flex;
    margin: 50px 0px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap:5px
}
.cartitems-total h1{
    font-size: 23px;
}
.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 15px;
}
.cartitems-total-item h3{
    font-size: 16px;
}
.cartitems-total hr{
    background-color: #454545;
}
.cartitems-total button {
    width: 172px;
    height: 48px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
.additems{
    width: 10px;
}